
html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
.appbar {
  background-color: #f7d736;
  display: flex;
  width   : 100%;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo {
  width: 5vw;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25vh auto;
}

.box-error {
  height: 70%;
}

.form-card {
  background-color: #ffffff;
  padding: 0.5rem;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 15px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 0.5rem;
  width: 35vw;
  align-items: center;
}

.form-card-title {
  border: 0;
  margin-bottom: 1rem;
  height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4c4c4c;
  font-family: "Roboto", sans-serif;
  width: 100%; 

}
.form-card-title::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.autoresize {
  border: 0;
  margin-bottom: 1rem;
  resize: none;
  padding-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  color: #4c4c4c;
  font-size: 1rem;
  width: 100%;
}
.autoresize::-webkit-input-placeholder { 
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 0 2.5vw;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5vw;
  margin: 1vw 0.5vw;
  border-radius: 0.25rem;
  font-family: 'Permanent Marker', cursive;
  padding: 0.5rem;
  box-shadow: 5px 15px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.icon {
  width: 0.75vw;
}

.btn-icon {
  background-color: transparent;
  border: 0;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.card-title {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

.card-content {
  padding-bottom: 1rem;
  color: #4c4c4c;
  margin: auto 0;
}

.none {
display: none;
}

.card-color-1 { background-color: #ead3a7; }
.card-color-2 { background-color: #9de0f5; }
.card-color-3 { background-color: #ef89ba; }
.card-color-4 { background-color: #fae890; }
.card-color-5 { background-color: #abe9c1; }

.card-rotation-1  { transform: rotate(-5deg); }
.card-rotation-2  { transform: rotate(-4deg); }
.card-rotation-3  { transform: rotate(-3deg); }
.card-rotation-4  { transform: rotate(-2deg); }
.card-rotation-5  { transform: rotate(-1deg); }
.card-rotation-6  { transform: rotate(0deg); }
.card-rotation-7  { transform: rotate(1deg); }
.card-rotation-8  { transform: rotate(2deg); }
.card-rotation-9  { transform: rotate(3deg); }
.card-rotation-10 { transform: rotate(4deg); }
.card-rotation-11 { transform: rotate(5deg); }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.btn-yellow {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  width: 95%;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  
  background-color: #f7d736;
}
.btn-gray {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  width: 95%;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #d3d3d3;
}

a {
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.interactive {
  position: relative;
  display: block;

  overflow: hidden;

  transition: background-color 0.3s;
}

.interactive > * {
  position: relative;
}

.interactive:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.interactive:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
