{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<main class="container">
    <form class="form-card" method="post">
        {% csrf_token %}
        <input id="card-title" class="form-card-title" name="title" type="text" placeholder="Título"  />
        <textarea id="card-content" class="autoresize" name="content" placeholder="Digite o conteúdo..." ></textarea>
        <button class="interactive btn-yellow" type="submit">Criar</button>
    </form>

    <ul id="notes-list" class="card-container">
      {% block notes %} {% endblock %}
    </ul>
</main>

{% endblock %}