{% extends "notes/index.html" %}
{% load static %}

{% block notes %}

{% for note in notes %}
<li id="note-{{note.id}}" class="card">
  <div class="card-header">
    <div class="card-buttons">
      <a class="interactive btn-icon" href="/edit/{{note.id}}/"><img src="{% static 'notes/img/icon-editar.png' %}" class="icon" /></a>
      <a class="interactive btn-icon" href="/delete/{{note.id}}/"><img src="{% static 'notes/img/icon-apagar.png' %}" class="icon" /></a>
    </div>
    <h3 class="card-title">{{note.title}}</h3>
  </div>
  <div class="card-content">
    <p>{{note.content}}</p>
  </div>
</li>
{% endfor %}

{% endblock %}